.post-container {
  display: flex;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  margin-top: 50px;
  background-color: lightsteelblue;
  border-radius: 5px;
}

.post-date {
  display: block;
}

.post-user-pic img {
  height: 100px;
  width: 100px;
  margin: 10px;
}

.main-post-body {
  background-color: white;
  border: lightslategray;
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
}

.align-buttons-center {
  padding: 3%;
}

.title-centered {
  margin: auto;
  color: lightslategrey;
}
