.bio-info {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.profile-pic {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  margin: auto;
  position: relative;
}
.profile-pic:hover .overlay {
  opacity: 0.8;
}
.about-me {
  border-width: 5px;
  border-style: solid;
  border-color: black;
  /* width: 25vw; */
  /* margin-left: 30px; */
  /* padding-top: 25px; */
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* height: 100%; */
  /* width: 100%; */
  opacity: 0;
  transition: 0.5s ease;
  background-color: #65757a;
}
.overlay-text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 95%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
