.friend {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.container-friends-list {
  margin-top: 15px !important;
  margin-left: 15px !important;
}

.friends-list-title {
  border-width: 2px;
  border-color: darkgrey;
  border-style: solid;
  margin: 5px;
}
img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.scroll-y {
  max-height: 10rem;
  overflow-y: scroll;
}

.f-italic {
  font-style: italic;
}
