.center {
  margin: auto;
}

#register-container {
  margin-top: 10%;
}

.full-box {
  padding: 5px;
  width: 500px;
  border-style: groove;
  border-radius: 10px;
  border-color: lightblue;
}

.errors {
  color: red;
}
